:root {
  --color-white: #fbfbfb;
  --color-dark: #28303f;
  --color-grey: #c6c6c6;
  --color-background: #fdf4eb;
  --color-yellow: #f6b450;
  --color-red: #f98e8e;

  --spacing-sm: 0.35rem; //5px
  --spacing-md: 0.71rem; //10px
  --spacing-lg: 1.07rem; //15px
  --spacing-xl: 2.14rem; //30px
  --spacing-xxl: 2.85rem; //40px

}

html {
  font-size: 14px;

  @media (max-width: 767.98px) {
    font-size: 13px;
  }

  body {
    background-color: var(--color-background);
    font-family: "Roboto", sans-serif;
    color: var(--color-dark);

    p {
      margin: var(--spacing-sm) 0px;
      font-size: 1.28rem;
    }

    label {
      font-weight: 400;
      font-size: 1rem;
    }
  }

}