<template>
  <div class="home">
    <header class="home__logo">
      <img
        src="/images/tip.svg"
        alt="Money conversion image"
        class="home__logo-image"
      />
      <h1>LE/TIP</h1>
    </header>
    <div
      :class="[
        'home__body',
        showSecondPanel ? 'home__body--second-panel-hidden' : '',
      ]"
    >
      <section class="home__section">
        <tip-form />
      </section>
      <section class="home__section">
        <tip-result />
      </section>
    </div>
    <button class="home__button" @click="handleChangePanel()">
      <img
        src="/images/arrow.svg"
        alt="Arrow image"
        :class="[showSecondPanel ? 'home__image-rotate' : '']"
      />
    </button>
  </div>
</template>

<script>
import TipForm from "../components/TipForm.vue";
import TipResult from "../components/TipResult.vue";
export default {
  components: { TipForm, TipResult },
  name: "HomeView",
  data() {
    return {
      showSecondPanel: false,
    };
  },
  methods: {
    handleChangePanel() {
      this.showSecondPanel = !this.showSecondPanel;
    },
  },
};
</script>

<style lang="scss" scoped>
.home {
  width: 100vw;
  height: 100vh;
  position: relative;

  &__logo {
    background: var(--color-white);
    text-align: center;
    padding: var(--spacing-xl);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-lg);
  }

  &__logo-image {
    width: 40px;
    height: 40px;
  }

  &__body {
    display: flex;
    padding: var(--spacing-xl);
    max-width: 1280px;
    margin: auto;
  }

  &__section {
    flex: 1;
    padding: 0 min(10vw, 10rem);
  }

  &__button {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: var(--color-dark);
    border-radius: 30px;
    border: none;
    display: flex;
    align-items: center;
    justify-items: center;
    height: 40px;
    width: 40px;
    display: none;
  }

  &__image-rotate {
    transform: rotate(180deg);
  }

  @media (max-width: 767.98px) {
    &__button {
      display: block;
    }
    &__body > &__section:nth-child(2) {
      display: none;
    }

    &__body--second-panel-hidden > &__section:nth-child(1) {
      display: none;
    }
    &__body--second-panel-hidden > &__section:nth-child(2) {
      display: block;
    }
  }
}
</style>
