<template>
  <form @submit.prevent="handlePreventSubmit" class="form">
    <div class="form__form-group-switch">
      <span>EUR</span>
      <toggle-switch v-model="currency" />
      <span>USD</span>
    </div>
    <div class="form__form-group">
      <label for="inputNumber">Valor <currency :currency="currency" /> </label>
      <input
        id="inputNumber"
        class="form__input-number"
        v-model="bill"
        type="number"
        step="0.01"
        placeholder="Valor da conta Ex: 10.20"
      />
    </div>
    <div class="form__form-group">
      <label for="inputRangeTip">Gorjeta: {{ tip }}%</label>

      <input-range id="inputRangeTip" v-model="tip" :min="10" :max="20" />
    </div>
    <div class="form__form-group">
      <label for="inputRangePerPerson">Pessoas: {{ dividedBy }}</label>
      <input-range
        id="inputRangePerPerson"
        v-model="dividedBy"
        :min="2"
        :max="16"
      />
    </div>
  </form>
</template>

<script>
import Currency from "./commons/Currency.vue";
import InputRange from "./commons/InputRange.vue";
import ToggleSwitch from "./commons/ToggleSwitch.vue";
export default {
  components: { Currency, ToggleSwitch, InputRange },
  name: "TipForm",
  methods: {
    handlePreventSubmit(event) {
      event.preventDefault();
    },
  },
  computed: {
    currency: {
      get() {
        return this.$store.getters["tip/getCurrency"];
      },
      set(currency) {
        this.$store.dispatch("tip/changeCurrency", currency);
      },
    },
    bill: {
      get() {
        return this.$store.getters["tip/getBill"];
      },
      set(bill) {
        const pattern =
          /(?=.*?\d)^\$?(([1-9]\d{0,2}(,\d{3})*)|\d+)?(\.\d{1,2})?$/;
        if (pattern.test(bill)) this.$store.commit("tip/setBill", bill);
      },
    },
    tip: {
      get() {
        return this.$store.getters["tip/getTip"];
      },
      set(tip) {
        this.$store.commit("tip/setTip", tip);
      },
    },
    dividedBy: {
      get() {
        return this.$store.getters["tip/getDividedBy"];
      },
      set(perPerson) {
        this.$store.commit("tip/setDividedBy", perPerson);
      },
    },
  },
};
</script>

<style scoped lang="scss">
.form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  align-items: center;

  &__form-group {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    width: 100%;
  }
  &__form-group-switch {
    display: flex;
    align-items: center;
    gap: var(--spacing-md);
    font-weight: 500;
  }
  &__input-number {
    border: 1px solid var(--color-grey);
    padding: var(--spacing-md);
    border-radius: 2px;
  }
}
</style>
