<template>
  <div class="result">
    <div>
      <label>Conta</label>
      <p><currency :currency="currency" />{{ bill }}</p>
    </div>
    <div>
      <label>Gorjeta</label>
      <p><currency :currency="currency" />{{ total.calculatedTip }}</p>
    </div>
    <div>
      <label>Por pessoa</label>
      <p><currency :currency="currency" />{{ total.perPerson }}</p>
    </div>
    <div>
      <label>Total</label>
      <p><currency :currency="currency" />{{ total.total }}</p>
    </div>

    <div class="result__result">
      <label>Total em reais</label>
      <div>
        <img
          v-if="status === 'inProgress'"
          src="/images/loading.svg"
          alt="spinning loading"
          class="result__loading"
        />
        <p v-else-if="status === 'error'" class="result__error">
          Ops!! Algo de errado aconteceu. Tente de novo
        </p>
        <p v-else><currency currency="BRL" />{{ getTotalConverted }}</p>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import { convert } from "../services/convertCurrency";
import Currency from "./commons/Currency.vue";

export default {
  name: "TipResult",
  data() {
    return {
      timer: null,
    };
  },
  components: { Currency },
  computed: {
    ...mapGetters({
      bill: "tip/getBill",
      currency: "tip/getCurrency",
      total: "tip/getTipCalculated",
      getTotalConverted: "tip/getTotalConverted",
      status: "tip/getConversionStatus",
    }),
  },
  methods: {
    convert() {
      clearTimeout(this.timer);
      this.timer = setTimeout(() => {
        this.$store.dispatch("tip/convert");
      }, 1000);
    },
  },
  watch: {
    total(tipCalculated) {
      if (tipCalculated.total != 0) this.convert();
    },
    currency() {
      if (this.total.total != 0) this.convert();
    },
  },
};
</script>

<style scoped lang="scss">
.result {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);

  &__result {
    padding-top: var(--spacing-xl);
    font-weight: 500;
  }

  &__loading {
    padding: var(--spacing-md);
    width: 30px;
    height: 30px;
    animation: rotation 1s infinite linear;
  }

  &__error {
    background: var(--color-red);
    border-radius: 3px;
    margin-top: var(--spacing-lg);
    padding: var(--spacing-sm);
    font-weight: 500;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
</style>
