<template>
  <span class="currency">{{ sign }}</span>
</template>

<script>
export default {
  name: "Currency",
  props: {
    currency: {
      type: String,
    },
  },
  computed: {
    sign() {
      let sign = "$";
      switch (this.currency) {
        case "USD":
          sign = "$";
          break;
        case "EUR":
          sign = "€";
          break;
        case "BRL":
          sign = "R$";
          break;
        default:
          sign = "R$";
          break;
      }
      return sign;
    },
  },
};
</script>

<style lang="scss" scoped>
.currency {
  font-size: 1.28rem;
  font-weight: 500;
  padding: var(--spacing-sm);
}
</style>
