<template>
  <div class="slider">
    <input
      class="slider__input"
      :value="modelValue"
      type="range"
      :min="min"
      :max="max"
      @input="handleChangeValue($event.target.value)"
    />
    <div class="slider__values">
      <span>{{ min }}</span>
      <span>{{ max }}</span>
    </div>
  </div>
</template>

<script>
export default {
  name: "InputRange",
  props: {
    modelValue: Number,
    min: {
      type: Number,
      default: 2,
    },
    max: {
      type: Number,
      default: 16,
    },
  },
  emits: ["update:modelValue"],
  methods: {
    handleChangeValue(value) {
      this.$emit("update:modelValue", value);
    },
  },
};
</script>
<style scoped lang="scss">
.slider {
  &__input {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    background: var(--color-grey);
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
  }

  &__input:hover {
    opacity: 1;
  }

  &__input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: var(--color-yellow);
    cursor: pointer;
    border-color: var(--color-yellow);
  }

  &__input::-moz-range-thumb {
    width: 5px;
    height: 25px;
    background: var(--color-yellow);
    cursor: pointer;
    border-color: var(--color-yellow);
  }

  &__values {
    padding-top: var(--spacing-md);
    display: flex;
    justify-content: space-between;
    span {
      font-weight: 500;
      font-size: 1rem;
    }
  }
}
</style>
