<template>
  <label class="switch" for="switch">
    <input
      class="switch__input"
      id="switch"
      :value="modelValue"
      type="checkbox"
      @input="handleChangeCurrency($event.target.value)"
    />
    <span class="switch__slider"></span>
  </label>
</template>

<script>
export default {
  name: "ToggleSwitch",
  props: {
    modelValue: String,
  },
  emits: ["update:modelValue"],
  methods: {
    handleChangeCurrency(currency) {
      this.$emit("update:modelValue", currency);
    },
  },
};
</script>

<style scoped lang="scss">
.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 28px;

  &__input {
    display: none;
  }

  &__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-grey);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  &__slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: var(--color-white);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  &__input:checked + &__slider {
    background-color: var(--color-yellow);
  }

  &__input:focus + &__slider {
    box-shadow: 0 0 1px var(--color-yellow);
  }

  &__input:checked + &__slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
}
</style>
